[run]
branch = True
parallel = True
source =
    hemolearn
omit =
    setup.py
    hemolearn/info.py
    hemolearn/atlas.py
    hemolearn/simulated_data.py
    hemolearn/plotting.py
    hemolearn/tests/*

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    except Exception
ignore_errors = True
